<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - ArtyProd</title>
    <!-- lien vers les styles CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- lien vers les scripts JavaScript -->
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body>
    <header>
        <!-- contenu du header (logo, menu de navigation, etc.) -->
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <!-- contenu du footer (informations de contact, copyright, etc.) -->
    </footer>
</body>
</html>
